experiments/xs-default-fixed/ns1.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema
   targetNamespace="http://example.org/ns1"
   xmlns:ns1="http://example.org/ns1"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="e1" type="xs:string"/>
  <xs:element name="e2" default="frodo" type="xs:string"/>
  <xs:element name="e3" fixed="baggins" type="xs:string"/>

</xs:schema>
